html,
body {
  height: 100vh;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  z-index: 0;
  border: none;
  outline: none;
  background: none;
}
@font-face {
  font-family: "OpenSans";
  src: url('https://fonts.googleapis.com/css?family=Open+Sans:200,400,600');
}
.testClass {
  background-color: #71C671;
  width: 117px;
  height: 45px;
  border-radius: 500px;
  box-shadow: 0 1px 3px #757575, 0 1px 2px #5b5b5b;
  transition: all 0.2s ease-in-out;
}
.testClass:hover {
  box-shadow: 0 7px 14px #4f4f4f, 0 3px 3px #424242;
}
.testClass:active {
  box-shadow: 0 7px 14px #474747, 0 3px 3px #3a3a3a;
}
.testClass > .img {
  height: auto;
  max-width: 100%;
  display: table-cell;
  vertical-align: middle;
  background-image: url('progressBar.PNG');
  width: 30px;
  height: 30px;
  border-radius: 50%;
  float: right;
  top: 50%;
  transform: translateY(-50%);
}
