//mixins to set standard alignment options

#standardAlign {
    
    .verticalCenter(){
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .horizontalCenter(){
        margin: 0 auto;
    }

    .verticalAndHorizontalCenter(){
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .horizontalCenterText(){
        display: inline-block;
        text-align: center;
    }
    
    .textLeft(){
        display: inline-block;
        text-align: left;
    }
    
    .textRight(){
        display: inline-block;
        text-align: right;
    }
    
    
    .toLeft(){
        float: left;
    }
    
    .toRight(){
        float: right;
    }

}