// need to refactor and finish these
// is preferable if display is not set here when possible as it can cause side effects


.verticalCenter(){
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.horizontalCenter(){
    margin: 0 auto;
}

.verticalAndHorizontalCenter(){
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.horizontalCenterText(){
    text-align: center;
}
