

.standardForm(){
    
    background-color: red;
    & > input[type=text]{
        color: blue;
    }
    & > input[type=radio]{
        color: blue;
    }
    & > input[type=submit]{
        background-color: 
    }
}


.testClass{
    .standardForm();
}