@import 'standardAlign.less';
@import 'standardColors.less';
@import 'standardShapes.less';
@import 'standardDepth.less';

.standardForm(){

    background-color: red;
    & > input[type=text]{
        color: blue;
    }
    & > input[type=radio]{
        color: blue;
    }
    & > input[type=submit]{
        background-color: red;
    }
}


.testFormClass{

    .standardForm();
}