.myProgressBar {
  box-shadow: 0 1px 3px #757575, 0 1px 2px #5b5b5b;
  transition: all 0.2s ease-in-out;
  height: 20px;
  width: 500px;
  border-radius: 0;
  background: repeating-linear-gradient(45deg, #1C86EE, #1C86EE 10px, #FCFCFC 10px, #FCFCFC 20px);
}
.myProgressBar:hover {
  box-shadow: 0 7px 14px #4f4f4f, 0 3px 3px #424242;
}
.myProgressBar:active {
  box-shadow: 0 7px 14px #474747, 0 3px 3px #3a3a3a;
}
